# Ignore backend build artifacts
nihomebackend/bin/**
nihomebackend/obj/**
# Ignore publish folder since we will generate it from the source code and deploy to hosting
nihomebackend/publish
nihomebackend/bin/
nihomebackend/obj/
nihomebackend.tests/bin/**
nihomebackend.tests/obj/**
.amazonq
.agents
skills-lock.json
# Deployment config
deployment-config/output/publish-release/
deployment-config/output/publish-release.zip
nihomebackend.integration.tests/bin/
nihomebackend.integration.tests/obj/